<h1>Add a new train</h1>

<form action="/trains" method="post">
  <div class="form-group">
    <label for="color">Color</label>
    <input id="n" name="color" class="form-control" type="text">
    <label for="type">Type</label>
    <input id="m" name="type" class="form-control" type="text">
    <label for="current_city">Current City</label>
    <input id="l" name="current_city" class="form-control" type="text">
  </div>
  <button type="submit" class="btn">Add train</button>
</form>

<a href="/trains">Return to train list</a>
