<h1>Add a new city</h1>

<form action="/cities" method="post">
  <div class="form-group">
    <label for="name">Name</label>
    <input id="n" name="name" class="form-control" type="text">
    <label for="capacity">Capacity</label>
    <input id="m" name="capacity" class="form-control" type="text">
  </div>
  <button type="submit" class="btn">Add City</button>
</form>

<a href="/cities">Return to city list</a>
